
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Bootstrap JS and Popper JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<h1>{{ post.title }}</h1>
<p>{{ post.username }}</p>
<p>{{ post.content }}</p>
<!-- Add other post attributes as needed -->
<!-- Button to Update Page -->
<a href="{% url 'update_class' post.pk %}" class="btn btn-primary">Update Post</a>