<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - My Blog</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <!-- Optional JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>


<body>

    <div class="container">
        <h1 class="my-4">Welcome To The Page Of Group 02-10-23 
            <a href="{% url 'create_class' %}" class="btn btn-success btn-lg float-right">+</a>
        </h1>

        <!-- Banner Image -->
        <img src="https://media.licdn.com/dms/image/D4E22AQHHgEIORT5JOg/feedshare-shrink_1280/0/1696856263932?e=1700092800&v=beta&t=A84gGg9GH3jctRnZSxjJ9BiswsBQG49D1wBrXbJvNcw" class="img-fluid banner-img" alt="Banner Image">

        <!-- Blog Posts -->
        <div class="row my-5">
            {% for post in page_obj %}
            <div class="col-md-4">
                <div class="card">      
                    <div class="card-body">
                        <h5 class="card-title">{{ post.title }}</h5>
                        <p class="card-text">{{ post.username }}</p>
                        <p class="card-text">{{ post.content }}</p>
                        <a href="{% url 'blog_detail' post.id %}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous </a>
            {% endif %}
        
            <span class="current-page">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
            
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}"> Next</a>
            {% endif %}
        </div>
        
    </div>
</body>

</html>
